{% extends 'topNavbar.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    {% block header %}
    <link rel="stylesheet" href="{% static '../static/indexStyle.css' %}">
    {% endblock %}

</head>
<body>

{% block bodyContent %}
    <div class="wrapper">

        <h1 class="title">Welcome to the Stocks Website</h1>

        <div class="imgDiv">
            <img src="{% static '../static/stocks.jpg' %}" alt="pokemon">
        </div>

        <div class="aboutText">
            Welcome to the Official Stock market - Haifa
            <br>
            <label style="color: hotpink">
                By Bayan and Saleem
            </label>
        </div>

    </div>
{% endblock %}

</body>
</html>