{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="{% static '../static/navbarStyle.css' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    {% block header %}
    {% endblock %}

</head>
<body>

<div class="top-navbar">
       <ul>
           <li>
               <a href="/" class="_hover">
                   <span>
                       <span>
                           <img src="https://img.icons8.com/fluency/48/000000/home.png"
                                style="width: 20px; height: 20px;"/>
                       </span>
                       Home
                   </span>
               </a>
           </li>

           <li>
               <a href="/queryResults" class="_hover">
                   <span>
                       <span>
                           <img src="https://img.icons8.com/fluency/50/000000/menu--v2.png"
                                style="width: 20px; height: 20px;"/>
                       </span>
                       Query Results
                   </span>
               </a>
           </li>
           <li>
               <a href="/addTransaction" class="_hover">
                   <span>
                       <span>
                           <img src="https://img.icons8.com/fluency/48/000000/plus.png"
                                style="width: 20px; height: 20px;"/>
                       </span>
                       Add Transaction
                   </span>
               </a>
           </li>

           <li>
               <a href="/buyStocks" class="_hover">
                   <span>
                       <span>
                           <img src="https://img.icons8.com/fluency/48/000000/plus.png"
                                style="width: 20px; height: 20px;"/>
                       </span>
                       Buy Stocks
                   </span>
               </a>
           </li>
       </ul>
</div>

{% block bodyContent %}
{% endblock %}

</body>
</html>